.lng__btn {
	padding: 7.5px;
	border-radius: 20px;
	min-width: 40px;
	height: 40px;

	&:hover {
		background: var(--accent-clr-green);
	}
}

.lng__btn--active {
	background: var(--accent-clr-green);
}

.lng-banner {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 100;
	transform: translateY(calc(100% + 20px));
	width: min(100%, max-content);
	margin-left: 10px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 25px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: transform 0.5s;
}

.lng-banner--visible {
	transform: translateY(0);
}

.lng {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 2;
	display: flex;
	flex-direction: row-reverse;
	outline: 1px solid #000;
	outline-offset: -1px;
	background: rgba(255, 255, 255, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-radius: 25px;
}

.lng-btn {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lng-inner-parent {
	display: grid;
	grid-template-columns: 0fr;
	transition: grid-template-columns 0.3s;
}

.lng-inner-parent--visible {
	padding: 0 5px;
	grid-template-columns: 1fr;
}

.lng-inner-child {
	display: flex;
	gap: 5px;
	overflow: hidden;
	padding: 5px 0;
}
