.templates {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 100%;
	scroll-margin-top: 70px;
}

.templates__title {
	font-size: clamp(1.5rem, 4vw, 2rem);
	font-weight: 500;
	text-align: center;
}

.templates__btn {
	padding: 7.5px;
	border: 1px solid #000;
	border-radius: 20px;
	background: #fff;
}

.templates__btn--active {
	background: var(--accent-clr-yellow);
}

.templates-swiper {
	padding: 0 100px 100px !important;

	:global(.swiper-button-prev) {
		left: 50% !important;
		transform: translateX(calc(-50% - 30px));
	}
	:global(.swiper-button-next) {
		left: 50% !important;
		transform: translateX(calc(-50% + 30px));
	}
}

:global(.swiper-button-prev),
:global(.swiper-button-next) {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	border: 1px solid #000 !important;
	color: #000 !important;
	border-radius: 50%;
	width: 50px !important;
	height: 50px !important;
	padding: 15px;
	bottom: 0 !important;
	top: auto !important;
}

.template {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.template__img-container {
	position: relative;
	width: 100%;
	aspect-ratio: 1/1;
	gap: 25px;
	border: 1px solid #000;
	border-radius: 25px;
	color: #000;
}

.template__type {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 7.5px;
	border: 1px solid #000;
	border-radius: 20px;
}

.template__type--bronze {
	background: var(--bronze-clr);
}

.template__type--silver {
	background: var(--silver-clr);
}

.template__type--gold {
	background: var(--gold-clr);
}

.templates__link {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
	color: #000;
	background: var(--accent-clr-green);
	border: 1px solid #000;
	padding: 7.5px;
	border-radius: 20px;
	width: max-content;
	margin: 25px auto 0;

	&:hover .template__link-img-container-inner {
		transform: translate(24px);
	}
}

.template__link {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
	color: #000;
	background: var(--accent-clr-green);
	border: 1px solid #000;
	padding: 7.5px;
	border-radius: 20px;

	&:hover .template__link-img-container-inner {
		transform: translate(24px);
	}
}

.template__link-img-container {
	width: 24px;
	overflow: hidden;
}

.template__link-img-container-inner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: transform 0.5s;

	svg {
		flex-shrink: 0;
	}
}

@media screen and (width < 808px) {
	.templates-swiper {
		padding: 0 10px 100px !important;
	}
}
