.main {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 100px;
	overflow: hidden;
}

.hero {
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: var(--brown-clr);
	overflow: hidden;
}

.hero__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	object-fit: cover;
	object-position: center;
	z-index: -1;
	border-radius: 25px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.118);
}

.hero-inner {
	width: calc(100% - 80px);
	height: calc(100% - 80px);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	background: rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	border-radius: 25px;
	z-index: 1;
	overflow: hidden;
	border: 1px solid rgba(211, 201, 87, 0.5);
}

.hero__divider {
	width: calc(100% - 40px);
	height: 1px;
	background: rgba(211, 201, 87, 0.5);
}

.calendar {
	position: relative;
	width: max-content;
	margin: 0 auto;
}

.calendar-inner {
	font-family: "Nata Sans", sans-serif;
	display: grid;
	grid-template-columns: repeat(7, 50px);
	grid-template-rows: repeat(6, 50px);
	text-align: center;
	padding: 25px;
	border: 1px solid var(--brown-clr);
	border-radius: 25px;
	font-weight: 300;
	color: var(--brown-clr);

	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	div:nth-of-type(-n + 7) {
		border-bottom: 1px solid var(--brown-clr);
		font-weight: 500;
	}
}
