.black {
	background: #000 !important;
}

.paper-left {
	position: fixed;
	z-index: 999;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	filter: brightness(0.5);
	transform-origin: left;
	will-change: transform;
	// animation: animatePaperLeft 5s forwards;
}

// @keyframes animatePaperLeft {
// 	to {
// 		transform: rotateY(-180deg);
// 	}
// }

.paper-right {
	position: fixed;
	z-index: 999;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	filter: brightness(0.5);
	transform-origin: right;
	// animation: animatePaperRight 5s forwards;
	will-change: transform;
}

// @keyframes animatePaperRight {
// 	to {
// 		transform: rotateY(180deg);
// 	}
// }

.main {
	font-family: "Montserrat", sans-serif;
	// height: 100vh;
	// overflow: hidden;
	// font-family: "Comfortaa", sans-serif;
	// font-family: "Great Vibes", sans-serif;
}

.hero {
	// position: relative;
	font-family: "Alex Brush", cursive;
	height: 100svh;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		z-index: -1;
	}
}

.hero-container {
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -100px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.hero__img-wrapper {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		height: 2px;
		width: 100px;
		background: #fff;
		left: 0;
		top: 50%;
		transform: translate(calc(-100% - 10px), -50%);
	}

	&::after {
		content: "";
		position: absolute;
		height: 2px;
		width: 100px;
		background: #fff;
		right: 0;
		top: 50%;
		transform: translate(calc(100% + 10px), -50%);
	}

	img {
		position: relative;
		width: 32px;
		height: 32px;
	}
}

.hero__heading {
	width: max-content;
	font-size: 3rem;
}

.section {
	background: #fff;
}

.calendar {
	position: relative;
	width: max-content;
	margin: 0 auto;
}

.calendar-inner {
	// font-family: "Nata Sans", sans-serif;
	display: grid;
	grid-template-columns: repeat(7, 50px);
	grid-template-rows: repeat(6, 50px);
	text-align: center;
	padding: 25px;
	border: 1px solid #000000;
	border-radius: 25px;
	font-weight: 300;
	color: #000000;

	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	div:nth-of-type(-n + 7) {
		border-bottom: 1px solid #000000;
		font-weight: 500;
	}
}

.target-time {
	position: relative;
}

.calendar-heart {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.addresses-container {
	width: 100%;
}
