.black {
	background: #000 !important;
}

.paper-left {
	position: fixed;
	z-index: 999;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	filter: brightness(0.5);
	transform-origin: left;
	will-change: transform;
	// animation: animatePaperLeft 5s forwards;
}

// @keyframes animatePaperLeft {
// 	to {
// 		transform: rotateY(-180deg);
// 	}
// }

.paper-right {
	position: fixed;
	z-index: 999;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	filter: brightness(0.5);
	transform-origin: right;
	// animation: animatePaperRight 5s forwards;
	will-change: transform;
}

// @keyframes animatePaperRight {
// 	to {
// 		transform: rotateY(180deg);
// 	}
// }

.main {
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
	gap: 50px;
	background: #fff;
	padding: 0 20px;
}

.hero {
	font-family: "Alex Brush", cursive;
	height: 100svh;

	img {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.hero-container {
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -100px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.hero__img-wrapper {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		height: 2px;
		width: 100px;
		background: #fff;
		left: 0;
		top: 50%;
		transform: translate(calc(-100% - 10px), -50%);
	}

	&::after {
		content: "";
		position: absolute;
		height: 2px;
		width: 100px;
		background: #fff;
		right: 0;
		top: 50%;
		transform: translate(calc(100% + 10px), -50%);
	}

	img {
		position: relative;
		width: 32px;
		height: 32px;
	}
}

.hero__heading {
	width: max-content;
	font-size: 3rem;
}

.section {
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 50px;
}

.calendar {
	position: relative;
	width: max-content;
	margin: 0 auto;
}

.calendar-top {
	position: absolute;
	background: #fff;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0 10px;
	font-weight: 600;
}

.calendar-inner {
	display: grid;
	grid-template-columns: repeat(7, 50px);
	grid-template-rows: repeat(6, 50px);
	text-align: center;
	padding: 25px;
	border: 1px solid #000000;
	border-radius: 25px;
	color: #000000;

	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	div:nth-of-type(-n + 7) {
		border-bottom: 1px solid #000000;
		font-weight: 600;
	}
}

.target-time {
	position: relative;
	font-weight: 600;
}

.calendar-heart {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	animation: heartbeat 1.5s infinite ease-in-out;
	transform-origin: center;
}

@keyframes heartbeat {
	0%,
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
	25% {
		transform: translate(-50%, -50%) scale(1.1);
	}
	50% {
		transform: translate(-50%, -50%) scale(0.95);
	}
	75% {
		transform: translate(-50%, -50%) scale(1.05);
	}
}

.addresses {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.address {
	width: 100%;
}

.address__map {
	width: 100% !important;
	height: 300px;
}

.link {
	display: inline-block;
	color: #000000;
	padding: 10px;
	background: #ffb7c580;
	box-shadow: -5px 5px #ffb7c5;
	border: 1px solid #000;
	transition: all 0.15s;

	&:active {
		transform: translate(-5px, 5px);
		box-shadow: 0px 0px #ffb7c5;
	}
}

// FIXME:
.wavy-divider {
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
	line-height: 0;

	color: #ffb7c5;
}

.wavy-divider svg {
	display: block;
	width: 100%;
	height: auto;
	overflow: visible;
}

.wavy-divider__path {
	stroke-dasharray: 2400;
	stroke-dashoffset: 2400;
	// animation: drawWave 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.animate {
	animation: drawWave 5s ease-out forwards;
}

@keyframes drawWave {
	to {
		stroke-dashoffset: 0;
	}
}

@media screen and (width <= 500px) {
	.calendar-inner {
		grid-template-columns: repeat(7, 40px);
		grid-template-rows: repeat(6, 40px);
	}
}
