:root {
	--silver-bg-clr: #fcfaf2;
	--accent-clr-yellow: #f5e78e;
	--accent-clr-pink: #feb8d2;
	--accent-clr-dark-pink: #ff7aab;
	--accent-clr-green: #b5e48a;
	--accent-clr-dark-green: #619d29;
	--bronze-clr: rgb(255, 242, 226);
	--silver-clr: rgb(239, 239, 239);
	--gold-clr: rgb(254, 254, 202);
}
