@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");

.birthday-one__calendar-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.birthday-one__envelope-silver {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	overflow: hidden;
	width: 100%;
	padding-bottom: 50px;
	text-align: center;
	background: #fffbf2;
}

.birthday-one__container-inner {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 25px;
}

.birthday-one__hero {
	position: relative;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	color: #fff;
	padding: 25px 25px 10px 25px;
	z-index: 1;
}

.birthday-one__hero-bg {
	position: absolute;
	z-index: -2;
	width: 100%;
	height: 100%;
	scale: 1.4;
	object-fit: contain;
	object-position: center;
}

.birthday-one__top-img {
	max-width: 600px;
	width: 100%;
}

.birthday-one__hero-date {
	position: absolute;
	top: 200px;
}

.birthday-one__top-title {
	color: #fff;
	font-size: 3.5rem;
	font-family: "Fleur De Leah", cursive;
}

.lolo {
	background-color: #fffbf2;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 100px;
}

.birthday-one__build {
	position: absolute;
	bottom: 20px;
	width: 100%;
	max-width: 700px;
	z-index: -1;
}

.birthday-one__scroll {
	position: absolute;
	bottom: 0;
	font-size: 0.75rem;
	color: rgba(255, 255, 255, 0.5);
}

.birthday-one__scroll--hide {
	opacity: 0 !important;
	pointer-events: none !important;
}

.birthday-one__animated-element {
	opacity: 0;
	transform: scale(0.5);
	transition:
		opacity 1s,
		transform 1s;
}

.birthday-one__animated-element--active {
	opacity: 1;
	transform: scale(1);
}

.birthday-one__home {
	display: flex;
	flex-direction: column;
	gap: 100px;
	overflow: hidden;
}

.birthday-one__font-accent {
	font-family: "Fleur De Leah", "Great Vibes", cursive;
}

.birthday-one__font-s {
	font-size: clamp(1rem, 2vw, 1.25rem);
}

.birthday-one__font-m {
	font-size: clamp(2rem, 4vw, 3rem);
}

.birthday-one__font-l {
	font-size: clamp(3rem, 14vw, 6rem);
}

.birthday-one__home__top {
	display: flex;
}

.birthday-one__envelope-silver__top-logo {
	display: flex;
	justify-content: center;
	align-items: center;

	span:nth-child(1) {
		transform: translate(35%, -25%);
	}

	span:nth-child(2) {
		transform: translate(-35%, 25%);
	}
}

.birthday-one__home__top-date {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.birthday-one__home__top-img {
	border-radius: 25px;
	width: 200px;
}

.birthday-one__underline {
	width: 200px;
	transform: translateY(25px);
}

.birthday-one__frame-inner {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	padding: 0 10px;
}

.birthday-one__silver-swiper {
	border: 5px solid #000;
	padding: 12.5px;
	width: 100%;
	max-width: 400px;
}

.birthday-one__silver-calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	aspect-ratio: 1/1;
	text-align: center;

	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	div:nth-of-type(-n + 7) {
		border-bottom: 1px solid rgb(166, 4, 4);
		font-weight: 500;
	}
}

.birthday-one__silver-calendar-wrapper {
	align-self: center;
	width: 100%;
	max-width: 500px;
	padding: 25px;
	border: 5px dotted rgb(166, 4, 4);
}

.birthday-one__target-time {
	position: relative;
}

.birthday-one__calendar-heart {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.birthday-one__date-container {
	width: 100%;
}

.birthday-one__silver-date {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
	// font-family: "Fleur De Leah", cursive;

	div {
		background: rgb(114, 1, 1);
		padding: 10px;
		border-radius: 25px;
		width: 100%;
		min-width: 250px;
		color: #fff;
	}
}

.birthday-one__addresses-container {
	width: 100%;
}

.birthday-one__silver-addresses {
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 100%;
}

.birthday-one__silver-address {
	position: relative;
	display: flex;
	flex-direction: column;
}

.birthday-one__address-img {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.birthday-one__silver-address__link {
	color: #000;
	width: 100%;
	padding: 10px;
	align-self: flex-end;
	border: 2.5px solid #000;

	&:hover {
		color: #fff;
		background: #000;
	}
}

.birthday-one__floating-btn {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(215, 231, 112, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;

	img {
		width: 30%;
	}
}

.birthday-one__colors-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

@media screen and (width <= 808px) {
	.birthday-one__envelope-silver {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		width: 100%;
	}

	.birthday-one__envelope-silver__top {
		width: 100%;
		display: flex;
		color: #000;
	}

	.birthday-one__home__top-date {
		justify-content: center;
	}
}

@media screen and (width <= 600px) {
	.birthday-one__home__top-title {
		display: flex;
		flex-direction: column;
	}

	.birthday-one__silver-date {
		flex-direction: column;
	}
}
