.templates {
	padding: 0 25px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 100%;
}

.templates__btn {
	padding: 7.5px;
	border: 1px solid #000;
	border-radius: 20px;
	background: #fff;
}

.templates__btn--active {
	background: var(--accent-clr-yellow);
}

.templates-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.template {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	max-width: 500px;
}

.template__img-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
	padding: 50px;
	border: 1px solid #000;
	border-radius: 25px;
	background: #f3f3f3;
}

.template__type {
	padding: 7.5px;
	border: 1px solid #000;
	border-radius: 20px;
}

.no-data {
	width: 100%;
	max-width: 500px;
	background: var(--accent-clr-pink);
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 20px;
	text-align: center;
}

.filters-container {
	background: var(--accent-clr-pink);
	padding: 10px;
	border-radius: 25px;
	border: 1px solid #000;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.filter-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: var(--accent-clr-green);
	padding: 10px;
	border-radius: 20px;
	border: 1px solid #000;
	max-width: max-content;
}

@media screen and (width < 1000px) {
	.templates-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (width < 808px) {
	.templates {
		padding: 0 10px;
	}
}

@media screen and (width < 600px) {
	.templates-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
