.section {
	width: 100%;
	text-align: center;
	scroll-margin-top: 70px;
	overflow: hidden;
	padding: 0 100px;
}

.section__title {
	font-size: clamp(1.5rem, 4vw, 2rem);
	font-weight: 500;
	text-align: center;
	margin-bottom: 25px;
}

.testimonials-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 450px), 450px));
	gap: 20px;
	justify-content: center;
}

.testimonial {
	border: 1px solid #000;
	border-radius: 25px;
	padding: 12.5px;
}

.testimonial-img {
	border-radius: 50%;
}

.testimonial-rating {
	& > :nth-of-type(1) {
		color: var(--accent-clr-yellow);
	}

	& > :nth-of-type(2) {
		color: var(--accent-clr-green);
	}

	& > :nth-of-type(3) {
		color: var(--accent-clr-dark-green);
	}

	& > :nth-of-type(4) {
		color: var(--accent-clr-pink);
	}

	& > :nth-of-type(5) {
		color: var(--accent-clr-dark-pink);
	}
}

@media screen and (width < 808px) {
	.section {
		padding: 0 10px;
	}
}
