.section {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
}

.section__title {
	font-size: clamp(1.5rem, 4vw, 2rem);
	text-align: center;
}

.section__desc {
	font-size: 18px;
}

.contact-us-container {
	display: flex;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
}
