.socials {
	padding-bottom: 50px;
}

.socials__title {
	font-size: clamp(1.5rem, 4vw, 2rem);
	font-weight: 500;
	margin-bottom: 10px;
	text-align: center;
}

.socials__container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		color: #000;
		border: 1px solid #000;
		border-radius: 20px;
		padding: 7.5px;
	}
}
