.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	row-gap: 25px;
	padding: 50px 0;
	background: #fff;
}

.footer__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 7.5px;
	border-radius: 20px;
	background: var(--accent-clr-yellow);
	border: 1px solid #000;

	&:hover .footer__btn-icon-wrapper-inner {
		transform: translateY(-24px);
	}
}

.footer__btn-icon-wrapper {
	overflow: hidden;
	height: 24px;
}

.footer__btn-icon-wrapper-inner {
	display: flex;
	flex-direction: column;
	transition: transform 0.3s;
}

.footer__author {
	a {
		background: linear-gradient(
			90deg,
			var(--accent-clr-yellow),
			var(--accent-clr-green),
			var(--accent-clr-dark-green),
			var(--accent-clr-pink),
			var(--accent-clr-dark-pink)
		);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
